header {
    background-image: url("./img/img2.jpg");
    background-size: cover;
    background-position: center;
    height: 750px;
    overflow: hidden;
}

#container1 {
    margin: 19% 25%; 
}

header h1 {
    font-size: 3.5vw;
    padding:8% 0 0;
}

main {
    margin: 3% 20% 0;
}